<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="frm-inicio/letras"></ion-back-button>
    </ion-buttons>
    <ion-title>{{Accion}} {{CUObject}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="https://cdn.discordapp.com/attachments/690693741542899752/710218821805277234/Editar-banner.png">

    <ion-card-header>
      <ion-card-title>
        Ingrese los recursos necesarios
      </ion-card-title>
      <ion-card-subtitle>
        Esto permitirá modificar o agregar elementos
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!--Nombre del archivo-->
        <ion-list-header>
          <h1>
            <ion-icon name="document-text"></ion-icon>
            Nombre del recurso
          </h1>
        </ion-list-header>
        <ion-item>
          <ion-icon
            name="ellipsis-horizontal"
            style="margin-right: 5px;"
          ></ion-icon>
          <h1>
            <ion-input [(ngModel)]="nombre" type="text" required></ion-input>
          </h1>
        </ion-item>

        <!--Selector de archivo de audio-->
        <ion-list-header>
          <h1>
            <ion-icon name="musical-notes"></ion-icon>
            Audio
          </h1>
        </ion-list-header>
        <ion-input
          (change)="onSoundSelected($event)"
          type="file"
          accept="audio/*"
          >
        </ion-input>

        <!--Selector de archivo de imagen-->
        <ion-list-header>
          <h1>
            <ion-icon name="image"></ion-icon>
            Imagen
          </h1>
        </ion-list-header>
        <ion-input
          (change)="onImageSelected($event)"
          accept="image/*"
          type="file"
        ></ion-input>
      </ion-list>

      <ion-button shape="round" color="success" fill="outline" expand="block" (click)="onGuardar()">
        {{Accion}}
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
