<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      src="https://ionicframework.com/docs/v3/img/meta/ionic-framework-og.png"
    />
  </ion-card>

  <ion-row>
    <ion-col style="text-align: center;">
      <h1>Inicie sesión</h1>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input
          placeholder="example@domain.com"
          type="text"
          [(ngModel)]="user.correo"
          style="text-align: center;"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input
          placeholder="**"
          type="password"
          [(ngModel)]="user.password"
          style="text-align: center;"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center;" size="8">
      <ion-button shape="round" expand="block" (click)="onIniciar()">
        Iniciar Sesion
      </ion-button>
    </ion-col>
    <ion-col style="text-align: center;" size="4">
      <ion-button
        shape="round"
        expand="block"
        fill="outline"
        [routerLink]="['/frm-registro']"
      >
        Registrarse
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>