<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="frm-inicio/letras"></ion-back-button>
    </ion-buttons>
    <ion-title>{{CUserName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      src="https://cdn.discordapp.com/attachments/690693741542899752/710022778669105214/user-banner.png"
    />
    <ion-card-header>
      <ion-card-title>
        Datos de la cuenta
      </ion-card-title>
      <ion-card-subtitle>
        Verifique que se encuentren registrados todos sus datos
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item disabled="true">
        <ion-icon name="mail"></ion-icon>
        <p>  </p>
        <ion-label>
          {{user.correo}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="person"></ion-icon>
        <p>  </p>
        <ion-input
          type="text"
          placeholder="Nombre"
          [(ngModel)]="user.nombre"
        ></ion-input>
        <ion-input
          type="text"
          placeholder="Apellido"
          [(ngModel)]="user.apellido"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="male-female"></ion-icon>
        <p>  </p>
        <ion-label>Género</ion-label>
        <ion-select [(ngModel)]="user.sexo" placeholder="Seleccionar">
          <ion-select-option value="Masculino">
            Masculino
          </ion-select-option>
          <ion-select-option value="Femenino"> Femenino </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-button shape="round" color="success" (click)="onGuardar()" fill="outline" expand="block">
              Guardar
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" color="danger" (click)="onSalir()" fill="outline" expand="block">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>